// xs: 0,
// sm: 576px,
// md: 768px,
// lg: 992px,
// xl: 1200px,
// xxl: 1400px

$breakpoints-up: (
  xs: 0,
  sm: 36em, 
  md: 48em,
  lg: 62em,
  xl: 75em,
  xxl: 87.5em
);

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}
