:root{
  --theme-color: #fff;
  --primary-color: #124f88;
  --secondary-color: #F7C331;
  --third-color: #00C340;
  --text-color-inverse: #fff;
  --text-color: #000;
  --navbar-shallow-color: #e5e5e5;
  --menu-mobile-background-color: #3A4460;
}